<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <servlet>
      <servlet-name>MultiPlay</servlet-name>
      <servlet-class>risingnumbers.MultiPlay</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>MultiPlay</servlet-name>
      <url-pattern>/MultiPlay</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>prime.html</welcome-file>
    </welcome-file-list>
</web-app>
